@media (max-width: 1120px) {
  .quote_btn-container a {
    display: none;
  }
}


/*BOTAO BACK TO TOP PARA VOLTAR NO INICIO*/
.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0.4s;
}

.back-to-top a {
  text-decoration: none;
  background-color: #1414b9;
  color: #fff;
  padding: 10px 15px;
  border-radius: 20%;
  display: block;
}

.back-to-top a:hover {
  color: #24e163;
}

.back-to-top.active {
  opacity: 1;
  visibility: visible;
}


@media (max-width: 1000px) {
  .slider_section .slider-container {
    flex-direction: column;
    padding: 0;
  }

  .slider_section .detail-box {
    width: 100%;
    text-align: center;
    padding: 75px 15px;
    background: linear-gradient(135deg, #24e163, #1414b9);
    position: relative;
  }

  .slider_section .img-box {
    width: 100%;
    margin: 0;
  }

  .slider_section .slider_bg-container {
    display: none;
  }

  .slider_section .detail-box p {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .slider_section .carousel-control-prev,
  .slider_section .carousel-control-next {
    top: initial;
    bottom: 0;
    left: 44.6%;
  }

  .slider_section .carousel-control-prev {
    transform: translate(0, 50%);
  }

  .slider_section .carousel-control-next {
    transform: translate(115%, 50%);
  }

  .portfolio_section {
    padding-top: 75px;
  }

  .contact_items {
    flex-wrap: wrap;
    justify-content: center;
  }

  .contact_items .item {
    margin: 20px;
  }
}

@media (max-width: 768px) {
  .client_section .client_container {
    width: 100%;
  }

  .client_section .client_container .box {
    margin: 20px 15px;
  }

  .client_section .carousel-control-prev,
  .client_section .carousel-control-next {
    display: none;
  }

  .subscribe_section form {
    margin-top: 25px;
  }

  .contact_section .contact_form-container button {
    margin-bottom: 45px;
  }

  .contact_section .contact_form-container input {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .slider_section .carousel-control-prev,
  .slider_section .carousel-control-next {
    left: 41.6%;
  }

  .custom_heading-container hr {
    display: none;
  }
}

@media (max-width: 480px) {
  .slider_section .carousel-control-prev,
  .slider_section .carousel-control-next {
    left: 39%;
  }

  .subscribe_section form {
    flex-direction: column;
    align-items: center;
  }

  .subscribe_section form button {
    transform: none;
    margin-top: 15px;
  }

  .slider_section .detail-box h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 420px) {
  /* Regras de mídia para telas com largura máxima de 420px */
}

@media (max-width: 360px) {
  .slider_section .carousel-control-prev,
  .slider_section .carousel-control-next {
    left: 36%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }

  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px 30px;
  }

  .container-fluid.footer_section {
    background: linear-gradient(135deg,  #24e163, #1414b9, #24e163);
    color: #fff; 
    padding: 20px; 
    text-align: center; 
    
  }
}

